In [28]:
from pathlib import Path
import glob
import requests
import pandas as pd

In [29]:
api_key: str = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI0IiwianRpIjoiYWRkYTQ1OGU3ODhiYWMxYjAzZTEzOTU1MmZkMDViMmI1OWZmYWM4MjQ4OWE2ZmNjNGMzMWFkOGE4MTc0ZDAwZmIxOTc3YWZjY2UyMWY3YmUiLCJpYXQiOjE3MDgyMzEyNDcsIm5iZiI6MTcwODIzMTI0NywiZXhwIjoxNzM5ODUzNjQ3LCJzdWIiOiIyMjIyNiIsInNjb3BlcyI6W119.K_7akIY9mGQU6t1FNt_HY_--ejm8q10wv6qwAHUucTimT7Hk8_zXUB16yz9nukaEzqSvf4n1kUWzBthqThBBpw"

In [30]:
dataset_path = Path().absolute() / "flight_data"

In [31]:
flts = pd.read_csv(dataset_path / "YUL-Departures-3months.csv")

In [32]:
dep_arrivals = flts[['Departure IATA Code', 'Arrival IATA Code']]

In [33]:
dep_arrivals = dep_arrivals.drop_duplicates()

In [34]:
dep_arrivals.reset_index(inplace = True, drop = True)

In [35]:
dep_arrivals

    Departure IATA Code Arrival IATA Code
0                   yul               lhr
1                   yul               cdg
2                   yul               ams
3                   yul               yyz
4                   yul               las
..                  ...               ...
264                 yul               lbg
265                 yul               ykf
266                 yul               day
267                 yul               ptk
268                 yul               yip

[269 rows x 2 columns]

In [42]:
airport_latlongs = pd.read_csv("iata-icao.csv")

In [44]:
airport_latlongs['iata'] = airport_latlongs['iata'].str.lower()

In [45]:
airport_latlongs

,country_code,region_name,iata,icao,airport,latitude,longitude
0,AE,Ash Shariqah,shj,OMSJ,Sharjah International Airport,25.3286,55.5172
1,AE,Abu Zaby,azi,OMAD,Al Bateen Executive Airport,24.4283,54.4581
2,AE,Al Fujayrah,fjr,OMFJ,Fujairah International Airport,25.1122,56.3240
3,AE,Abu Zaby,xsb,OMBY,Sir Bani Yas Airport,24.2836,52.5803
4,AE,Ra's al Khaymah,rkt,OMRK,Ras Al Khaimah International Airport,25.6135,55.9388
...,...,...,...,...,...,...,...
8962,ZW,Midlands,gwe,FVTL,Thornhill Air Base,-19.4364,29.8619
8963,ZW,Bulawayo,buq,FVBU,Joshua Mqabuko Nkomo International Airport,-20.0174,28.6179
8964,ZW,Manicaland,chj,FVCH,Chipinge Airport,-20.2067,32.6283
8965,ZW,Mashonaland West,kab,FVKB,Kariba Airport,-16.5198,28.8850
8966,ZW,Harare,hre,FVHA,Robert Gabriel Mugabe International Airport,-17.9318,31.0928

In [46]:
airport_latlongs = airport_latlongs[airport_latlongs['iata'].isin(dep_arrivals['Arrival IATA Code'])]

In [49]:
airport_latlongs = airport_latlongs[['iata', 'latitude', 'longitude']]

In [51]:
flight_weather = pd.read_csv(Path().absolute() / "final-weather-flight-data" / "dataset_YUL-Flights-Weather.csv")

In [53]:
flight_weather = flight_weather.merge(airport_latlongs, how = "left", left_on = "Arrival IATA Code", right_on = "iata")

In [57]:
from haversine import haversine

In [58]:
yul_latlong = (45.4657, -73.7455)

In [59]:
def calculate_distance(row):
    point = (row['latitude'], row['longitude'])
    return haversine(yul_latlong, point)

# Apply the function to each row
flight_weather['flt_distance'] = flight_weather.apply(calculate_distance, axis=1)

In [62]:
airports_distances = flight_weather[['Departure IATA Code', 'Arrival IATA Code', 'latitude', 'longitude', 'flt_distance']]

In [64]:
airports_distances.drop_duplicates(inplace= True)

/var/folders/z6/mhv044k52r38pf74f9w6gkjc0000gn/T/ipykernel_42874/650873466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airports_distances.drop_duplicates(inplace= True)

In [66]:
airports_distances.reset_index(inplace = True, drop = True)

In [68]:
airports_distances.to_csv('Airports_Distances.csv', index = False)

In [70]:
flight_weather.to_csv('Flights_Weather_Distance.csv', index = False)

In [72]:
flight_weather['flt_distance'].isna().sum()

347